.work-section {
  background-color: #f5f7fc;
}

.linkdin {
  border-right: 1px solid rgb(177, 177, 197);
}
.accordion-icon {
  width: 46px;
  height: 46px;
  margin-right: 10px;
  padding: 10px 8px;
  color: #27b36a;
  font-size: 20px;
  line-height: 20px;
  border: 2px solid #27b36a;
  border-radius: 50%;
}

.bi-star-half,
.bi-star-fill {
  color: rgb(253, 204, 40);
  padding-right: 6px;
}
